{% extends 'main.html' %}
{% load static %}
{% block content %}


<div class="auth">
    <div class="card">
        <div class="auth__header text-center">
            <a href="{% url 'login' %}">
                <img src="{% static 'images/icon.svg' %}" alt="icon" />
              </a>
            
            <h3> Password Reset Complete! </h3>
            <br>

            <p>Your new password has been set.
                <br> 
                <br>
                You may go ahead and log in below.</p>

            <br>

            <a href="{% url 'login' %}"> <input class="btn btn--sub btn--lg" type="submit" value="Log In" /></a>
              
  

        </div>
    </div>
</main>

{% endblock content %}