{% extends 'main.html' %}
{% load static %}
{% block content %}


<div class="auth">
    <div class="card">
        <div class="auth__header text-center">
            <a href="/">
                <img src="{% static 'images/icon.svg' %}" alt="icon" />
              </a>
            
            <h3> Password Reset Sent! </h3>

            <p>We’ve emailed you instructions for setting your new password, if an account exists with the email you entered. You should receive them shortly.</p>

            <br>
            
            <p>If you don’t receive an email please make sure you’ve entered the correct address you registered with, and/or check your spam folder.</p>   

        </div>
    </div>
</div>

{% endblock content %}