{% extends 'main.html' %}
{% load static %}
{% block content %}

<style>
input[type='text'],
input[type='email'],
input[type='password'] {
    min-width: 24rem;
    width: 100%;
    padding: 1.2rem 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-light);
    transition: all 0.3s ease-in-out;
    background-color: var(--color-bg);
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='text']:active,
input[type='email']:active,
input[type='password']:active {
    outline: none;
    border: 2px solid var(--color-main);
}
</style>


<div class="auth">
    <div class="card">
        <div class="auth__header text-center">
            <a href="{% url 'login' %}">
                <img src="{% static 'images/icon.svg' %}" alt="icon" />
              </a>
            
            <h3> Enter New Password </h3>

            <p> Please enter your new password twice so we can verify you typed it in correctly. </p>   

            <br>

            <form class="form" method="POST" action="{% url 'password_reset_confirm' uidb64=uid token=token %}">
                {% csrf_token %}

                <div class="form__field" style="text-align: left">
                    {{form.as_p}}

                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </div>

            </form>
        </div>
    </div>
</main>

{% endblock content %}